<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Sign in</title>
  </head>
<body>

  <%- include('../partials/header') %>

  <main>
    <div class="form-container">
        <form class="forms" action="/users/login" method="POST">
            <h2>Sign in</h2>
            <div>
                <input class="form-input" type="email" name="email" placeholder="Email">
                <% if(locals.errors && errors.email){ %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>
            <div>
                <input class="form-input" type="password" name="password" placeholder="Password">
                <% if(locals.errors && errors.password){ %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>

            <div>
                <label>
                    <input class="checkbox" type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button type="reset">Reset</button>
            <button type="submit">Sign in</button>
            <a href="#">Forgot password?</a>
        </form>
    </div>
  </main>

  <%- include('../partials/footer') %>
  
</body>
</html>